#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

// session new.html

.padding_top_30 {
  padding-top: 30px;
}
.margin_bottom_25{
  margin-bottom: 25px;
}
.margin_top_10{
  margin-top: 10px;
}
.margin_top_50{
  margin-top: 50px;
}
 #bForgot_pw{
  float:right;
  font-size: 80%;
  position: relative;
  top:-10px
 }
#bSignup{
  border-top:1px solid #888;
  padding-top:15px;
  font-size:85%
}
.float_right{
  float: right;
}
#icon_gg{
  font-size:16px;
  margin-right:5px
}

#new_category {
  margin-bottom: 25px;
}

.edit_book {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
  padding-top: 60px;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}


.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  margin-left: 250px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.update-panel {
  color: #fff;
}

.bg-yellow {
  background: linear-gradient(to right, #fe9365, #feb798);
}

.bg-green {
  background: linear-gradient(to right, #0ac282, #0df3a3);
}

.bg-pink {
  background: linear-gradient(to right, #fe5d70, #fe909d);
}

.bg-blue {
  background: linear-gradient(to right, #01a9ac, #01dbdf);
}
