$("#edit_category_<%= @category.id %>").html('<%= link_to @category, style:"text-decoration: none" do %><span class="glyphicon glyphicon-record" style="margin-right: 6px"></span><%= @category.name %><% end %><%= link_to edit_category_path(@category), remote: true do %><i class="far fa-edit" style="font-size: 18px; color: #337ab7;float: right"></i><% end %>');

