<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
<<<<<<< HEAD
      /* Email styles need to be inline */
=======
>>>>>>> cbb8985f37cb571bba4536b814d193f5f6722788
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
